<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.clover.loyalty.example.pos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="Clover Loyalty Example POS"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <activity android:name=".StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".CloverLoyaltyPOSActivity"/>

    </application>

</manifest>

