<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.clover.loyalty.tender"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.clover.permission.RECEIVE_CARD_SWIPED"/>

    <application
            android:name=".application.ExampleLoyaltyApplication"
            android:label="Clover Loyalty Example Custom Tender">

        <!--
            This is the loyalty service that does multiple things. The first 2 define the Loyalty service, the rest are interaction with a very simple Loyalty system.

            1. Provides the type of data it would like collected (Swipe (MSR), and Barcode (QR_BARCODE)
            2. Handles the lookup when data is collected. e.g. after a swipe, get track2 data and lookup customer account
            3. Monitors orders for payments being added, thus crediting or debiting the loyalty account
        -->


        <service
                android:name=".service.ExampleLoyaltyService"
                android:exported="true">
            <intent-filter>
                <action android:name="clover.intent.action.LOYALTY_PROVIDER"/> <!-- LoyaltyServiceProvider -->
            </intent-filter>
        </service>

        <!-- Merchant Custom Tender Activity -->
        <activity
                android:name=".activity.MerchantLoyaltyTenderActivity"
                android:exported="true"
                android:label="@string/title_activity_test_tender">
            <meta-data
                    android:name="clover.intent.meta.MERCHANT_TENDER_IMAGE"
                    android:resource="@mipmap/loyalty_points"/>

            <intent-filter>
                <action android:name="clover.intent.action.MERCHANT_TENDER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>



        <!-- Loyalty Data Service. These should ultimately move to the loyalty engine -->
        <!-- This is a dataservice used by the loyalty engine to collect and foward QR or Barcodes -->
        <service
                android:name=".dataservice.QrBarcodeLoyaltyDataService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.clover.loyalty.service.QR_BARCODE"/> <!-- 'QR_BARCODE' is the data config type -->
            </intent-filter>
        </service>
        <!-- This is a dataservice used by the loyalty engine to collect and foward MSR Swiped cards -->
        <service
                android:name=".dataservice.MsrLoyaltyDataService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.clover.loyalty.service.MSR"/> <!-- 'MSR' is the data config type -->
            </intent-filter>
        </service>


    </application>

</manifest>